
//posts photo-gallery
.blog-post {
  margin-bottom: 20px;

  .blog-photo-data {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
    a {
      text-decoration: none;
      color: $base-font-color;
    }
  }

  .photo_content {
    padding: 10px;
    padding-top: 5px;
  }

  .photo_content p {
    font-size: 14px;
    line-height: 1.4;
  }

  .post-info {
    color: $admin-title-color;
    font-style: italic;
    margin-bottom: 5px;
  }

  .blog-post-title {
    font-size: 20px;
    color: $post-title-color;
    font-weight: bold;
    padding: 0px !important;
  }

  .post-thumb img {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
  }

  h2, h4 {
    margin-top: 0px;
  }

}



@media (min-width: 769px) {

  .blog-photo-data {
    opacity: 1;
    transition: .5s ease;
  }

  .blog-photo-data:hover {
    opacity: 0.6;
    cursor: pointer;
    -webkit-transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    transform: rotateZ(5deg);
  }

}

@media(max-width: 768px) {

  .blog-post {

    .photo_content p {
      font-size: 14px;
    }

    .blog-post-title {
      font-size: 18px;
    }
  }
}
